<%= image_tag('/images/header.png', :alt => "campus header", :width => "1200") %>

<div class="container header">
	<div class="row">
		<div class="span6">
			<div class="header-text">
				<div class="header-main">
					<h1>Your college trip planning, simplified</h1>
				</div>
				<div class="header-sub">
					<h3>Personalized trip planning, from hotels and restaurants to driving directions</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="btn btn-large btn-primary">
				<%= button_to "Start Now (it's free!) »", new_user_registration_path, :method => :get %>
			</div>
		</div>
	</div>
</div>

<br />

<div class="container steps">
	<div class="row row-shadow">
		<div class="span3 subPoint">
	        <img src="/images/magGlass.png" alt="Magnifying glass" width="100" height="100">
	        <h3>Find Schools</h3>
	        <p>
	            Find the colleges that fit your strengths and needs. <strong>FREE.</strong>
	        </p>
        </div>
        <div class="span3 subPoint">
                <img src="/images/calendar.png" alt="Calendar" width="100" height="100">
                <h3>Schedule Trips</h3>
                <p>
                    Find info session and tour schedules for each campus.
                </p>
        </div>
        <div class="span3 subPoint">
                <img src="/images/yelp_logo.png" alt="Yelp logo" width="133.2" height="100">
                <h3>Make Reservations</h3>
                <p>
                    Get hotel and restaurant recommendations and driving directions.
                </p>
        </div>
        <div class="span3 subPoint">
                <img src="/images/social.png" alt="Connect" width="100" height="100">
                <h3>Share</h3>
                <p>
                    Create, save, and safely share your lists of schools, experiences, and tips.
                </p>
        </div>
	</div>
</div>