<h1>How it works</h1><br /><br />

<p><span class="bigNum">Step 1.</span> <span class="step"><%= link_to 'Sign up', new_user_registration_path %></span></p><br /><br />

<p><span class="bigNum">Step 2.</span> <span class="step">Make a trip</span></p><br /><br />

<p><span class="bigNum">Step 3.</span> <span class="step"><%= link_to 'Add schools', schools_path %></span></p><br /><br />

<p><span class="bigNum">Step 4.</span> <span class="step">Plan with ease</span></p>
