<hr class="hor-line">
</hr>

<div class="container">
	<div class="row">
		<div class="span8">
			CollegeTripper is in beta.  Please use the site and let us know what you think!  <br>
			Leave us a message using the feedback form on the right.
		</div>
	</div>
</div> 

<br>